.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media (max-width: $break_sm) {
    background-image: linear-gradient(to bottom, #025fea 30%, #4ad4fd 70%, #fff 70%);
  }
}

.header {
  width: 100%;
  padding: 46px 0 0;
  position: absolute;
  @media (max-width: $break_xl) {
    padding: 20px 0;
  }

  @media (max-width: $break_sm) {
    max-width: 600px;
    left: 50%;
    transform: translate(-50%,0);
  }
}

.logo {
  display: inline-block;

  @media (max-width: $break_xl) {
    max-width: 132px;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
}