.steps {
  font-family: "Lato";
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  &__col {
    width: 33.33%;
    padding-left: 30px;
  }
  &_item {
    display: flex;
    height: 100%;
    padding: 19px 90px 19px 145px;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    position: relative;
    line-height: 1;
    &:after {
      content: '';
      display: block;
      width: 81px;
      height: 105px;
      background-image: url(../img/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0,-50%);
    }
  }
  &_triangle {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    img {
      height: 100%;
    }
  }
  &_num {
    max-width: 139px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(0,-46%);
    img {
      display: block;
    }
  }
  &_content {
  }
  &_title {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &_text {
    font-size: 30px;
    font-style: italic;
  }
  @media (max-width: $break_xl) {
    &_num {
      max-width: 100px;
    }
    &_item {
      padding: 19px 60px 19px 100px;
      &:after {
        width: 50px;
        height: 70px;
      }
    }
    &_content {
    }
    &_title {
      font-size: 26px;
    }
    &_text {
      font-size: 24px;
    }
  }
  @media (max-width: $break_md) {
    &__row {
      margin-left: 0;
    }
    &__col {
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $break_sm) {
    flex-wrap: wrap;
    padding-left: 5px;
    &_item {
      min-height: 120px;
      padding: 19px 60px 19px 110px;
    }
    &_num {
      max-width: 120px;
    }
  }
  @media (max-width: $break_xs) {
    &_num {
    }
    &_title {
      font-size: 20px;
    }
    &_text {
      font-size: 13px;
    }
    &_item {
      padding: 19px 42px 19px 110px;
      &:after {
        width: 35px;
        height: 45px;
      }
    }
  }
}