.welcome {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-top: 65px;
  background-color: #333;
  >.wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-position: top left 150px;
    background-size: auto 86%;
  }
	&_row {
		display: flex;
		justify-content: flex-end;
	}
	&_content {
    max-width: 600px;
		text-align: center;
    text-transform: uppercase;
    margin-bottom: 180px;
    letter-spacing: 3.24px;
	}
	&_title {
    display: block;
    margin-bottom: 25px;
    position: relative;
	}
	&_btn {
    display: block;
    width: 100%;
		padding: 2px;
		background-color: #ee3132;
    border-radius: 15px;
    font-family: "Roboto",
    sans-serif;
    font-size: 77px;
    letter-spacing: 1px;
		font-weight: bold;
		color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
    &:hover {
      background-color: #f83b3c;
      box-shadow: 0 0 10px rgba(248,59,60,.7);
    }
  }
  @media (max-width: 1920px) {
  }
  @media (max-width: 1600px) {
    >.wrapper {
      background-position: top left -200px;
    }
  }
  @media (max-width: $break_xl) {
    >.wrapper {
    }
    &_content {
      max-width: 450px;
    }
    &_title {
      font-size: 45px;
      text-shadow: -7px 7px 0 #0039d8;
    }
    &_title-big {
      font-size: 90px;
    }
    &_text {
      font-size: 26px;
      letter-spacing: -1px;
      span {
        &:after {
          width: 62px;
          height: 22px;
          top: 90%;
          left: 14px;
        }
      }
    }
    &_btn {
      font-size: 50px;
    }
  }
  @media (max-width: $break_md) {
    >.wrapper {
      background-position: top left -500px;
    }
    &_content {
      margin-right: 0;
    }
  }
  @media (max-width: $break_sm) {
    background-size: 200%, cover ;
    background-position: bottom 20% center;
    padding-top: 95px;
    background: linear-gradient(to bottom, #000, #333);
    >.wrapper {
      background: none;
    }
    &_row {
      justify-content: center;
      margin-bottom: 0;
      flex-wrap: wrap;
    }
    &_content {
      margin-bottom: 10px;
    }
    &_title {
    }
    &_btn {
      padding: 10px;
    }
  }
  @media (max-width: $break_xs) {
    >.wrapper {
    }
    &_content {
    }
    &_title {
      font-size: 28px;
    }
  }
}